# ignore all .jpg files
*.jpg

# ignore all .png files
*.png

# ignore all .jpeg files
*.jpeg

# ignore all .mask files
*.mask

# ignore all .dat files
*.dat

# ignore all .txt files
*.txt

# ignore all .csv files
*.csv
